<app-error *ngFor="let error of validationError" [message]="error"></app-error>
<app-error *ngFor="let error of error" [message]="error"></app-error>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="start">Start date</label>
    <input type="date" class="form-control" id="start" name="startDate" [(ngModel)]="startDate">
  </div>
  <div class="form-group">
    <label for="end">End date</label>
    <input type="date" class="form-control" id="end" name="endDate" [(ngModel)]="endDate">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
