<app-error *ngFor="let error of validationError" [message]="error"></app-error>
<app-error *ngFor="let error of error" [message]="error"></app-error>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="surname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="email" class="form-control" id="password" name="password" [(ngModel)]="password">
  </div>
  <div class="form-group">
    <label for="cf">Fiscal Code</label>
    <input type="text" class="form-control" id="cf" name="cf" [(ngModel)]="cf">
  </div>
  <div class="form-group">
    <label for="birthDate">Date of birth</label>
    <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="birthDate">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
