<ng-container *ngIf="sessionStorage.getItem('tokenJWT') !== null">
  <app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
  <app-custom-table
    [mappingFunction]="mapping"
    [keyObjectOrder]="returnZero"
    [list]="list"
    [currentPage]="currentPage"
    [currentPages]="currentPages"
    [dataSize]="dataSize"
    [forward]="forward"
    [backward]="backward"
    [changePage]="changePage"
    [sortMethod]="sort"
    [tableDbHeaders]="tableDbHeader"
    [changeOrderState]="shiftOrder"
    [numberOfActions]="totalActions"
    [title]="'Bookings'"
    [search]="search.bind(this)"
    [reset]="reset.bind(this)"
  ></app-custom-table>
</ng-container>
