<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr [ngStyle]="{textAlign: 'center'}">
    <th *ngFor="let header of bookingHeaderFields" scope="col">{{ header }}</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookingsList" [ngStyle]="{textAlign: 'center'}">
    <td *ngFor="let field of mapping(booking) | keyvalue: returnZero">
      {{field.value}}
    </td>
    <td [ngStyle]="{textAlign: 'center'}">
      <a class='btn btn-primary btn-sm' [routerLink]="['add-booking', 5]">go</a>
    </td>
    <td [ngStyle]="{textAlign: 'center'}">
      <a class='btn btn-primary btn-sm' [routerLink]="['add-booking', 5]">go</a>
    </td>
  </tr>
  </tbody>
</table>
