<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr [ngStyle]="{textAlign: 'center'}">
    <th *ngFor="let header of tableHeaders" scope="col">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list | slice:(currentPage-1)*10:((currentPage-1)*10)+10" [ngStyle]="{textAlign: 'center'}">
    <td *ngFor="let field of mappingFunction(item) | keyvalue: keyObjectOrder">
      {{ field.value }}
    </td>
  </tr>
  </tbody>
</table>
<div>
  <nav aria-label='Page navigation example'>
    <ul class='pagination justify-content-end'>
      <li [ngClass]="{'page-item': true}" [class.disabled]="currentPages[0]===1" [ngStyle]="currentPages[0] === 1 ? {'cursor': 'default'} : {'cursor': 'pointer'}">
      <button [ngClass]="{'page-link': true}">Previous</button>
      </li>
      <li *ngFor="let page of currentPages" [ngClass]="{'page-item': true, 'active': currentPage===page}">
        <button [ngClass]="{'page-link': true}" [ngStyle]="{'cursor': 'pointer'}">{{ page }}</button>
      </li>
      <li [ngClass]="{'page-item': true}" [class.disabled]="currentPages[currentPages.length-1]===dataSize+1" [ngStyle]="{'cursor': currentPages[currentPages.length-1]===dataSize+1 ? 'default' : 'pointer'}">
      <button [ngClass]="{'page-link': true}" [ngStyle]="{'cursor': 'pointer'}">Next</button>
      </li>
    </ul>
  </nav>
</div>
